<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BousingBtn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6A6E1511EBB59B700B874A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6A6E1681EBB59B800B874A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6A6E1731EBB59B800B874A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
